<!--Horario-->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalHorario">
    Horario
</button>

<!--Medida-->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalMedida">
    Medida
</button>

<!--Perfil-->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalPerfil">
    Perfil
</button>

<!--Proveedor-->
<button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#modalProveedor">
    Proveedor
</button>

<work-horario></work-horario>
<work-medida></work-medida>
<work-perfil></work-perfil>
<work-proveedor></work-proveedor>