<section id="insert" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card-header text-center">
                        <h1>Ingreso de Materia Prima</h1>
                        <div class="card-body text-center">
                            <!-- <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                                <div class="form-label-group" class="form-group">
                                    <select class="form-control" name="cliente" #cliente="ngModel" [(ngModel)]="conexion.selectNuevo.proveedor" value="seleccione">
                                    <option class="placeholder" value="Seleccione"> 
                                    Seleccione un proveedor 
                                    </option>
                                    <option *ngFor="let provee of ListarProveedores"> 
                                         {{provee.proveedor}}
                                    </option> 
                                </select>
                                    <br>
                                    <input type="text" class="form-control" name="peso" #peso="ngModel" [(ngModel)]="conexion.selectNuevo.peso" placeholder="Peso">
                                    <br>
                                    <input type="text" class="form-control" name="codigo" #codigo="ngModel" [(ngModel)]="conexion.selectNuevo.codigo" placeholder="Codigo">
                                    <br>
                                    <input text="text" class="form-control" name="envio" #envio="ngModel" [(ngModel)]="conexion.selectNuevo.envio" placeholder="Envio">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary" type="submit">
                                        Ingresar
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-secondary active" type="reset" (click)="resetForm(myform)"> 
                                        Nuevo
                                    </button>
                                </div>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>