<nav class="navbar navbar-expand-lg navbar-dark bg-dark " *ngIf="!isLogged">
    <a class="navbar-brand" href="/principal" *ngIf='!isLogged'>Principal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent" *ngIf="!isLogged">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf='!isLogged'>
                <a class="nav-link" [routerLink]="['/principal/nuestros-productos']" routerLinkActive="active"> Nuestros Productos </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/principal/Contacto']" routerLinkActive="active"> Contacto </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/principal/ayuda']" routerLinkActive="active"> Ayuda </a>
            </li>
        </ul>
        <a class="navbar-brand hidden-md-down"></a>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/user/login']" routerLinkActive="active">
                    <i class="fas fa-user"></i> Login
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--<div class="row ">
    <div class="col-xs-12 col-sm-3 col-md-4 ">
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">Mision</h5>
                <p class="card-text ">Ofrecer un conjunto de servicios y soluciones que permitan a nuestros clientes resolver sus necesidades con total confianza y tranquilidad gracias a nuestro conocimiento técnico, nuestra rápida respuesta, nuestro compromiso y nuestra disposición.
                    Crear una cadena simpática entre proveedores, clientes, empresa, sociedad y empleados que se mantenga equilibrada y sustentada por las relaciones personales, las emociones, el flujo económico y los compromisos mutuos de responsabilidad.</p>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 " >
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">Vision</h5>
                <p class="card-text ">Crear una estructura empresarial sólida y flexible, abierta a nuevas ideas y nuevos proyectos para poder traducirlos a nuevas soluciones para nuestros clientes y así hacernos pioneros y líderes en variedad de servicios, prestaciones, innovaciones
                    y búsqueda de soluciones a medida que cambia la sociedad a nivel estatal.</p>

            </div>
        </div>
    </div>
</div>-->
<!-- <div class="row row-cols-1 row-cols-md-3 mover" *ngIf="!isLogged">
    <div class="col mb-4">
        <div class="card">
            <img src="../../../assets/imagenes/fondo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../../../assets/imagenes/fondo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../../../assets/imagenes/fondo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div> -->
<div class="d-flex" *ngIf="isLogged">
    <div id="sidebar-container" class="bg-primario">
        <div class="logo">
            <h4 class="text-light font-weight-bold">
                Diseños y Rolados S.A
            </h4>
        </div>
        <div class="menu">
            <a href="/principal/user/insert" class="d-block text-light p-3">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Prima
            </a>
            <a href="/principal/user/intermediate" class="d-block text-light p-3">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Intermedia
            </a>
            <a href="/principal/user/final" class="d-block text-light p-3">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Final
            </a>
            <a href="/principal/user/inventory" class="d-block text-light p-3">
                <i class="fas fa-indent mr-2 "></i> Inventario
            </a>
        </div>
    </div>
    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-silvere">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <button class="btn" (click)="onClickLogout()">
                        <i class="fas fa-user-cog"></i> Cerrar Sesion
                    </button>
                </ul>
            </div>
        </nav>
    </div>
</div>