<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="/principal" *ngIf='!isLogged'>Principal</a>
    <a class="navbar-brand" href="/principal" *ngIf="isLogged">Diseños y Rolados S.A</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf='!isLogged'>
                <a class="nav-link" [routerLink]="['/principal/nuestros-productos']" routerLinkActive="active"> Nuestros Productos </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/principal/Contacto']" routerLinkActive="active"> Contacto </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/principal/ayuda']" routerLinkActive="active"> Ayuda </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/insert']" routerLinkActive="active">Ingreso de Materia Prima </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/intermediate']" routerLinkActive="active"> Producto intermedio </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/final']" routerLinkActive="active"> Final </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/inventory']" routerLinkActive="active"> Inventario</a>
            </li>
        </ul>
        <a class="navbar-brand hidden-md-down"></a>
        <ul class="navbar-nav ml-auto">
            <svg *ngIf="isLogged" class="bi bi-person-dash-fill" (click)="onClickLogout()" width=" 1em " height="1em " viewBox="0 0 16 16 " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                <path fill-rule="evenodd " d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm5-.5a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5z " clip-rule="evenodd "/>
              </svg>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/user/login']" routerLinkActive="active">
                    <i class="fas fa-user"></i> Login
                </a>
            </li>
        </ul>
    </div>
</nav>
<!--<div class="row ">
    <div class="col-xs-12 col-sm-3 col-md-4 ">
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">Mision</h5>
                <p class="card-text ">Ofrecer un conjunto de servicios y soluciones que permitan a nuestros clientes resolver sus necesidades con total confianza y tranquilidad gracias a nuestro conocimiento técnico, nuestra rápida respuesta, nuestro compromiso y nuestra disposición.
                    Crear una cadena simpática entre proveedores, clientes, empresa, sociedad y empleados que se mantenga equilibrada y sustentada por las relaciones personales, las emociones, el flujo económico y los compromisos mutuos de responsabilidad.</p>

            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-3 " >
        <div class="card ">
            <div class="card-body ">
                <h5 class="card-title ">Vision</h5>
                <p class="card-text ">Crear una estructura empresarial sólida y flexible, abierta a nuevas ideas y nuevos proyectos para poder traducirlos a nuevas soluciones para nuestros clientes y así hacernos pioneros y líderes en variedad de servicios, prestaciones, innovaciones
                    y búsqueda de soluciones a medida que cambia la sociedad a nivel estatal.</p>

            </div>
        </div>
    </div>
</div>-->
<div class="row row-cols-1 row-cols-md-3 mover" *ngIf="!isLogged">
    <div class="col mb-4">
        <div class="card">
            <img src="../../../assets/imagenes/fondo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../../../assets/imagenes/fondo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
        </div>
    </div>
    <div class="col mb-4">
        <div class="card">
            <img src="../../../assets/imagenes/fondo.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content.</p>
            </div>
        </div>
    </div>
</div>