.carousel-indicators {
    color: black;
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: black;
}

.letra1 {
    color: black;
}

.letra2 {
    color: black;
    font-size: 150%;
}