<!--<section id="login" class="mb-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card">
                        <div class="card-body text-center">
                            <form (submit)="onSubmitLogin()">
                                <h1>Inicio de Session</h1>
                                <div class="form-row">
                                    <div class="form-group">
                                        <input type="email" name="email" id="email" [(ngModel)]="email" class="form-control" placeholder="Email">
                                    </div>
                                    <div class="form-group">
                                        <input type="password" name="password" id="password" [(ngModel)]="password" class="form-control" placeholder="Contraseña">
                                    </div>
                                    <button class="btn btn-block btn-primary btn-block" (click)="onSubmitLogin() ">
                                        Login
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>-->
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-6 col-lg-6 bg-image"></div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <h3 class="login-heading mb-6 font-weight-bold" style="text-align: center;">Bienvenido</h3>
              <form (submit)="onSubmitLogin()">
                <div class="form-label-group">
                  <input id="email" type="email" name="email"  [(ngModel)]="email" class="form-control" placeholder="Correo Electronico" required autofocus>
                  <label for="email">Correo Electronico</label>
                </div>

                <div class="form-label-group">
                  <input id="password" type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Contraseña" required>
                  <label for="password">Contraseña</label>
                </div>
                <button class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="submit" (click)="onSubmitLogin()">
                  Inicio de sesion
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
