<div class="d-flex" *ngIf="isLogged">
    <div id="sidebar-container" class="bg-primario">
        <div class="logo">
            <h4 class="text-light font-weight-bold">
                Diseños y Rolados S.A
            </h4>
        </div>
        <div class="menu">
            <a href="/principal/user/insert" class="d-block text-light p-3">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Prima
            </a>
            <a href="/principal/user/intermediate" class="d-block text-light p-3">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Intermedia
            </a>
            <a href="/principal/user/final" class="d-block text-light p-3">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Final
            </a>
            <a href="/principal/user/inventory" class="d-block text-light p-3">
                <i class="fas fa-indent mr-2 "></i> Inventario
            </a>
        </div>
    </div>
    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-silvere">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <button class="btn" (click)="onClickLogout()">
                        <i class="fas fa-user-cog"></i> Cerrar Sesion
                    </button>
                </ul>
            </div>
        </nav>
        <div id="content">
            <div class="container" class="mt-4">
                <div class="card ">
                    <div class="card-header">
                        <h1 class="color">Invetario</h1>
                    </div>
                    <div class="card-body">
                        <table class="table table-hover table-dark">
                            <thead>
                                <tr>
                                    <th>No.</th>
                                    <th>Fecha</th>
                                    <th>Cantidad</th>
                                    <th>Producto</th>
                                    <th>Peso</th>
                                    <th>Longitud</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <!-- <td *ngFor="let listar of listarMaterialesIntermedios">
                                        {{listar.fecha1}}
                                    </td>
                                    <td>
                                        <input placeholder="Cantidad">
                                    </td>
                                    <td *ngFor="let listar of listarMaterialesFinales">
                                        {{listar.perfiles}}
                                    </td>
                                    <td *ngFor="let listar of listarMaterialesIntermedios">
                                        {{listar.peso1}}
                                    </td>
                                    <td>
                                        <input placeholder="Cantidad">
                                    </td>
                                    <td *ngFor="let listar of listarMaterialesFinales">
                                        <!--<a class="btn btn-secondary text-white" (click)="onEdit(product)">
                                            <i class="far fa-edit"></i>
                                        </a>-->
                                    <!--
                                        <a class="btn btn-danger text-white" (click)="Delect(listar.$key)">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td> -->
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>