<div class="d-flex" *ngIf="isLogged">
    <div id="sidebar-container" class="bg-primario">
        <div class="logo">
            <a class="text-light font-weight-bold" href="/principal">
                <h4 class="font-weight-bold">
                    Diseños y Rolados S.A
                </h4>
            </a>
        </div>
        <div class="menu">
            <a href="/principal/user/insert" class="d-block text-light p-3 font-weight-bold">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Prima
            </a>
            <a href="/principal/user/intermediate" class="d-block text-light p-3 font-weight-bold">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Intermedia
            </a>
            <a href="/principal/user/final" class="d-block text-light p-3 font-weight-bold">
                <i class="fas fa-plus-square mr-2 lead"></i> Materia Final
            </a>
            <!-- <a href="/principal/user/inventory" class="d-block text-light p-3">
                <i class="fas fa-indent mr-2 "></i> Inventario
            </a> -->
            <a class="nav-link dropdown-toggle d-block text-light p-3 bg-primario font-weight-bold" href="/principal/user/inventory" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-indent mr-2"></i> Inventario
            </a>
            <div class="dropdown-menu bg-primario" aria-labelledby="navbarDropdown">
                <a class="dropdown-item text-light font-weight-bold" href="#">Materia Prima</a>
                <a class="dropdown-item text-light font-weight-bold" href="#">Materia Intermedia</a>
                <a class="dropdown-item text-light font-weight-bold" href="#">Materia Final</a>
            </div>
        </div>
    </div>
    <div class="w-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-silvere">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto ">
                    <button class="btn" (click)="onClickLogout()">
                        <i class="fas fa-user-cog"></i> Cerrar Sesion
                    </button>
                </ul>
            </div>
        </nav>
        <div id="content">
            <section id="insert" class="mb-4 mt-4">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12 col-lg-12 col-md-12 mx-auto">
                            <div class="card_login">
                                <div class="card-header">
                                    <h1 style="text-align: center;" class="font-weight-bold">Ingreso de Materia Final</h1>
                                    <div class="card-body">
                                        <form #productForm="ngForm" (ngSubmit)="onSubmit(productForm)">
                                            <div class="form-group form-row">
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Operador</label>
                                                    <input type="text" class="form-control" id="operador" name="operador" #operador="ngModel" [(ngModel)]="finalService.selectFinal.operador" placeholder="">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Linea</label>
                                                    <input type="text" class="form-control" id="linea" name="linea" #linea="ngModel" [(ngModel)]="finalService.selectFinal.linea" placeholder="">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Horario</label>
                                                    <select class="form-control" id="horario" name="horario" #horario="ngModel" [(ngModel)]="finalService.selectFinal.horario">
                                                    <option class="form-control"
                                                    value="Seleccione"> Seleccione el horario </option>
                                                    <option *ngFor="let llamarhorario of ListarHorario">
                                                        {{llamarhorario.horario}}
                                                    </option>
                                                    </select>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Perfil</label>
                                                    <select class="form-control" id="perfil" name="perfil" #perfil="ngModel" [(ngModel)]="finalService.selectFinal.perfil">
                                                    <option class="form-control"
                                                    value="Seleccione"> Seleccione el Perfil 
                                                    </option>
                                                    <option *ngFor="let llamarperfiles of ListarPerfil"> 
                                                        {{llamarperfiles.perfil}}
                                                    </option>
                                                    </select>
                                                </div>
                                                <br>
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Fecha</label>
                                                    <input class="form-control" id="fecha" name="fecha" #fecha="ngModel" [(ngModel)]="finalService.selectFinal.fecha" type="date">
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <label class="font-weight-bold">Codigo</label>
                                                    <select class="form-control" id="codigo" name="codigo" #codigo="ngModel" [(ngModel)]="finalService.selectFinal.codigo">
                                                <option value="Seleccione">Seleccionar el codigo</option>
                                                <option *ngFor="let product of ListarIntermedio">
                                                    {{product.codigo}}
                                                </option>
                                                </select>
                                                </div>
                                                <div class="form-group col-md-12">
                                                    <label class="font-weight-bold">Medidas</label>
                                                    <select class=" form-control" id="medidas" name="medidas" #medidas="ngModel" [(ngModel)]="finalService.selectFinal.medidas ">
                                                    <option class="form-control "
                                                    value="Seleccione "> Seleccione las medidas </option>
                                                    <option *ngFor="let llamarmedidas of ListarMedidas "> 
                                                        {{llamarmedidas.medida}}
                                                    </option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <button class="btn btn-block btn-primary " type="submit ">
                                                    Ingresar
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>