<nav class="navbar navbar-expand-lg navbar-dark bg-dark ">
    <a class="navbar-brand" href="/principal" *ngIf="!isLogged">Principal</a>
    <a class="navbar-brand" href="/principal" *ngIf="isLogged">Diseños y Rolados S.A</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/principal/nuestros-productos']" routerLinkActive="active"> Nuestros Productos </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/principal/Contacto']" routerLinkActive="active"> Contacto </a>
            </li>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/principal/ayuda']" routerLinkActive="active"> Ayuda </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/insert']" routerLinkActive="active">Ingreso de Materia Prima </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/intermediate']" routerLinkActive="active"> Producto intermedio </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/final']" routerLinkActive="active"> Final </a>
            </li>
            <li class="nav-item" *ngIf="isLogged">
                <a class="nav-link" [routerLink]="['/principal/user/inventory']" routerLinkActive="active"> Inventario</a>
            </li>
        </ul>
        <a class="navbar-brand hidden-md-down"></a>
        <ul class="navbar-nav ml-auto">
            <svg *ngIf="isLogged" class="bi bi-person-dash-fill" (click)="onClickLogout()" width=" 1em " height="1em " viewBox="0 0 16 16 " fill="currentColor " xmlns="http://www.w3.org/2000/svg ">
                <path fill-rule="evenodd " d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 100-6 3 3 0 000 6zm5-.5a.5.5 0 01.5-.5h4a.5.5 0 010 1h-4a.5.5 0 01-.5-.5z " clip-rule="evenodd "/>
              </svg>
            <li class="nav-item" *ngIf="!isLogged">
                <a class="nav-link" [routerLink]="['/login']" routerLinkActive="active"> Login </a>
            </li>
        </ul>
    </div>
</nav>
<section id="insert" class="mb-5 mt-5">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 mx-auto">
                <div class="card_login">
                    <div class="card-header text-center">
                        <h1>Ingreso de Materia Prima</h1>
                        <div class="card-body text-center">
                            <!-- <form #myform="ngForm" (ngSubmit)="onSubmit(myform)">
                                <div class="form-label-group" class="form-group">
                                    <select class="form-control" name="cliente" #cliente="ngModel" [(ngModel)]="baseService.selectedProduct.cliente" value="seleccione">
                                    <option class="placeholder" value="Seleccione"> 
                                    Seleccione un proveedor 
                                    </option>
                                    <option *ngFor="let provee of listarProveedores"> 
                                         {{provee.proveedor}}
                                    </option> 
                                </select>
                                    <br>
                                    <input type="text" class="form-control" name="peso" #peso="ngModel" [(ngModel)]="baseService.selectedProduct.peso" placeholder="Peso">
                                    <br>
                                    <input type="text" class="form-control" name="codigo" #codigo="ngModel" [(ngModel)]="baseService.selectedProduct.codigo" placeholder="Codigo">
                                    <br>
                                    <input text="text" class="form-control" name="envio" #envio="ngModel" [(ngModel)]="baseService.selectedProduct.envio" placeholder="Envio">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-primary" type="submit">
                                        Ingresar
                                    </button>
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-block btn-secondary active" type="reset" (click)="resetForm(myform)"> 
                                        Nuevo
                                    </button>
                                </div>
                            </form> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>